/*  __________Design Brief______________*/

:root {
  --primary-color: #005F73;
  --secondary-color: #94D2BD;
  --background-color: #F6F6F6;
  --text-color: #1E1E1E;
  --font-family: 'Poppins', sans-serif;
}

/*  ______________________________________ Body ______________________________________________*/

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

h1, h2, h3 {
  color: var(--primary-color);
}

button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-family: var(--font-family);
  border: none;
}

/* _____________________________________Header_______________________________________________*/

header {
    display: grid;
    grid-template-columns: 38px auto 50px;
    gap: 5px;
    align-items: center;
    padding: 5px 16px;
    border-bottom: solid 1px #ddd;
    margin-top: 1.5rem;
}

header span {
    font-size: 14px;
    margin: 0;
    text-align: left;
    padding: 0;

}

.hamburger::before {
    content: "\2630";
    font-size: 1.5rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 1.5rem;
}

/* _____________________________________ Navigation bar_______________________________________________*/
.thead {
    border-bottom: solid 1px #cdcccc;
}

.navigation {
    display: none;
    margin-bottom: 1rem;
}

.navigation.show {
    display: block;
}

ul {
    list-style: none;
    padding: 5px 0;
    margin: 5px;
}

li {
    margin: 10px;
}

li a {
    display: block;
    width: 100%;
    text-decoration: none;
    border-bottom: 1px solid #a6a0a0;
    padding: .5rem ;
    margin: 0;
    color: var(--text-color);
    box-sizing: border-box; 
}

.current li.active {
    background-color: var(--secondary-color);
}

.navigation a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* _____________________________________Main_______________________________________________*/
.view-toggle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 1rem 0;
}

.view-toggle button {
    font-size: 1.10rem;
    font-weight: 600;
}

main {
    padding: 0 1rem;
}

/* grid section____________________________________*/

#directory.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    box-sizing: border-box;
}

#directory.grid section {
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}


/* List section____________________________________*/

#directory.list {
    display: block;
}

#directory.list section {
	margin: 0;
    gap: 5px;
	padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#directory.list section img {
    display: none;
}


#directory.list .member-card {
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

.member-card {
    background-color: #fff;
    margin-bottom: 10px;
}

.member-card img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

.member-card p,
h3 {
    margin: 8px 0;
}


/* _____________________________________footer_______________________________________________*/


footer {
    background-color: var(--primary-color);
    padding: 10px 0;
    margin: 1rem 0;
    grid-column: 1 / 4;
    text-align: center;
    color: #ffffff;
    border-top: 1px solid rgb(207, 202, 202);
}

.a,
.b {
    text-align: left;
    margin: 0 1.3rem;
}

footer p {
    padding: 0;
    margin: 7px 0;
    font-size: 14px;
}

.social {
    margin: 1rem 0;
}

.social img {
    width: 2.5em;
    margin: 0 auto;
    padding: 0 10px;

}