@media (min-width: 768px) {
  :root {
    --primary-color: #005F73;
    --secondary-color: #94D2BD;
    --background-color: #F6F6F6;
    --text-color: #1E1E1E;
    --font-family: 'Poppins', sans-serif;
  }

  body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--background-color);
  }

  .thead {
    display: grid;
    grid-template-columns: 280px 1fr;
  }

  header {
    margin: 0 auto;
  }

  .hamburger {
    display: none;
  }

  .navigation {
    display: block;
    margin-top: 1rem;
    margin-right: 1rem;
  }

  .navigation ul {
    display: flex;
    margin: 0;
  }

  li a {
    border-bottom: none;
    color: #000000;
    margin: 0;
  }

  .current {
    justify-self: end;
  }

  /* grid section ________________________*/
  #directory.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
  }


  /* list section ________________________*/
  #directory.list {
    display: flex;
    flex-direction: column;
  }

  #directory.list section {
    display: grid;
    grid-template-columns: 1fr 1fr 150px 200px;
    gap: 10px;
    padding: 0.25rem 1rem;
    align-items: center;
  }

  #directory.list section img {
    display: none;
  }

  #directory.list section p:has(.badge) {
    display: none;
  }

  #directory.list section:nth-child(odd) {
    background-color: #eee;
    color: var(--text-color);
    /* optional, for contrast */
  }

  #directory.list section:nth-child(even) {
    background-color: white;
    color: var(--primary-color);
  }

  /* Footer section ________________________*/


  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .social {
    margin: auto;
  }


}