
@media (min-width: 768px) {


:root {
  --primary-color: #005F73;
  --secondary-color: #94D2BD;
  --background-color: #F6F6F6;
  --text-color: #1E1E1E;
  --font-family: 'Poppins', sans-serif;
}


.thead {
    display: grid;
    grid-template-columns: 280px 1fr;
}


header {
    margin: 0 auto;
}

  .hamburger {
    display: none;
  }

  .navigation {
    display: block;
  }

  .navigation ul {
    display: flex;
    margin: 0;
  }
  
  li a {
    border-bottom: none;
    color: #000000;
    margin: 0;
    
  }



/* list section ________________________*/
#directory.list {
    display: flex;
    flex-direction: column;

}

#directory.list section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
		margin: 0;
        gap: 5px;
		padding: 0.25rem;
}

#directory.list section img {
    display: none;
}

/* Footer section ________________________*/


footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.social {
    margin: auto;
}


}



