:root {
    --background-color: rgba(8, 32, 77, 0.793);; 
    --primary-color2: green;

   
}

* {
    box-sizing: border-box; 
    font-family: "Roboto", sans-serif;
}

header {
  display: grid;
  grid-template-columns: 80px auto 50px;
  gap: 10px;
  align-items: center;
  padding: 5px 0 5px 10px;
  border-bottom: solid 1px #ddd;
}



.hamburger::before {
  content: "\2630";
  font-size: 1.5rem;
}
.hamburger.show::before {
  content: "\00D7";
  font-size: 1.5rem;
}

/* Navigation bar ________________________*/
.navigation {
  display: none;
}

.navigation.show {
  display: block;
}

.navigation li.current {
  background-color: var(--background-color);
}

ul {
    list-style: none;
    background-color: var(--background-color);
    padding: 5px 0;
    margin: 5px;
}

li {
    margin: 10px;
}

li a {
    display: block;
    text-decoration:none ;
    border-bottom: 1px solid #a6a0a0;
    padding: .5rem 10px;
    margin: 0;
    color: #fff;
}

.navigation a:hover {
  background-color: #fff;
  width: 100%;
  color: var(--background-color);
}



main h1 {
    margin: 0;
    padding: 2px 1rem;
}

/* section ________________________*/

section {
    margin: 5px 1rem 3rem 1rem;
    padding: 0 0 5px 0;
    box-shadow: 0 6px 15px 4px rgba(0, 0, 0, 0.15);
}

section h2 {
    background-color: rgba(8, 32, 77, 0.793);
    color: #fff;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 5px;
    font-size: 1.5rem;
}

.abtme p {
  padding: 0 15px;
}

.photo img {
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
}

/* Course card section ________________________*/
.course-card {
  padding: .5px;
  margin-bottom: 10px;
  text-align: center;
}

.courses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
  margin-bottom: 10px;
}

.courses button {
  background-color: rgba(8, 32, 77, 0.263);
  border: none;
  padding: 5px 0;
}

.completed {
  background-color: rgb(63, 143, 63);
  color: #fff;

}

.not-completed {
  background-color: rgb(219, 195, 195);
  color: #000;
}

.cert p {
  margin-left: 1rem;
}


/* Footer section ________________________*/

footer {
    background-color: var(--background-color);
    padding: 10px 0;
    margin: 1rem 0;
    grid-column: 1 / 4;
    text-align: center;
    color: #fff;
    border-top: 1px solid rgb(207, 202, 202);
}

footer p {
    padding: 0;
    margin: 10px 0;
    font-size: 14px;
}

.social img {
    width: 2em;
    padding: 2px;
}
